
<div class="container text-center">
  <div class="row">
    <div class="col-1">
    </div>

    <div class="col-10">

        <p>Hello and welcome to blipmusic, a community created by music lovers, for music lovers.</p>
        <br>
          <p>Register or log in and share your favourite music with the world!</p>

      </div>
      <div class="col-1">
      </div>

    </div>
  </div>
