<h1>Tracks</h1>


<% tracks.forEach((track) => { %>
  <a href="/tracks/<%= track.id %>">
  <h2><%= track.artist %> - <%= track.title %></h2>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= track.link %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <% }) %>
