
<div class="container">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">

      <form class="form-margin" method="POST" action="/tracks">
        <div class="form-group">
          <label for="artist">Artist [write the name of the track artist]</label>
          <input type="text" class="form-control" name="artist" id="artist">
        </div>

        <div class="form-group">
          <label for="title">Title [write the title of the track]</label>
          <input class="form-control" type="text" name="title" id="title">
        </div>

        <div class="form-group">
          <label for="link">Link [copy the text after the '=' in the YouTube URL]</label>
          <input class="form-control" type="text" name="link" id="link">
        </div>

        <div class="form-group">
          <label for="description">Blip [write a short message or review]</label>
          <textarea class="form-control" name="blip"></textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Post Track</button>
      </form>

    </div>
    <div class="col-3">
    </div>

  </div>
</div>
