<h1>Add New Track</h1>

<form class="" method="POST" action="/tracks">
    <div>
      <label for="title">Artist</label>
      <input class="u-full-width" type="text" name="artist" id="artist">
    </div>

    <div>
      <label for="author">Title</label>
      <input class="u-full-width" type="text" name="title" id="title">
    </div>

    <div>
      <label for="author">Link</label>
      <input class="u-full-width" type="text" name="link" id="link">
    </div>

    <div>
      <label for="description">Blip</label>
      <textarea class="u-full-width" name="blip"></textarea>
    </div>

    <button class="button-primary u-full-width">Post</button>
</form>
