@import 'views/tracks/index';
@import 'views/tracks/show';
@import 'views/users/show';


// import scss partials here
* {
  font-family: 'Roboto Mono', monospace;
}
body {
  background-color: #2a2b2d;
  background-size: cover;
}

.jumbotron {
  background-image: url("https://i.imgur.com/hl87VG1.jpg");
  background-size: cover;
}

flash-message {
  text-align: center;
}

.col-10 {
    font-size: 48px;
    color: #f2f3f4;
    line-height: 50px;
    margin-top: 80px;
}

.text-center {
  color: white;
}

.comment-color {
  color: yellow;
}

.form-group {
  color: white;
}

.form-margin {
  margin-top: 80px;
}
