// import scss partials here
* {
  color: blue;
}
body {
  font-family: 'Helvetica', sans-serif;
  background-image: url("https://i.imgur.com/tLXhiA8.jpg")
}

.jumbotron {
  background-image: url("https://i.imgur.com/cyAKOE2.jpg");
}
