.follow {
  display: flex;
  justify-content: space-around;
  color: white;
}

.username {
  color: yellow;
  font-size: 48px;
}

.follow-user {
  color: white;
  font-size: 24px;
}

.video {
  margin-top: 60px;
}

a {
  .username {
    font-size: 24px;
  }
}

.follow {
  margin-top: 40px;
}
